<nav class="container-fluid navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand text-white font-weight-bolder" href="/">Fakekart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="cotainer-fluid collapse navbar-collapse justify-content-end " id="navbarSupportedContent">
    <ul class="navbar-nav  ">
      <li class="nav-item">
        <a class="nav-link text-white" href="shop/cart"><i class="fas fa-shopping-cart mr-2 text-white"></i>Shoping Cart <span class="badge badge-success">{{session.cart.totalqty}}</span> </a>
      </li>
      <li class="nav-item dropdown mr-5">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user text-white"></i>  User managment
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {{# if login}}
          <a class="dropdown-item text-secondary" href="/user/profile">Profile</a>
            <a class="dropdown-item text-secondary" href="#">Another action</a>
            <div class="dropdown-divider"></div>
              <a class="dropdown-item text-secondary" href="/user/logout">Logout</a>
            </div>  
          {{ else }}  
            <a class="dropdown-item text-secondary" href="/user/login">Login</a>
            <a class="dropdown-item text-secondary" href="/user/signup">Signup</a>
          {{/ if}}
          
      </li>
    </ul>
  </div>
</nav>